/dts-v1/;

/ {
    model = "Mac mini (M1, 2020)";
    compatible = "apple,m1";

    hardware-model = "J274";

    interrupt-parent = <&aic>;
    #address-cells = <2>;
    #size-cells = <2>;

    aliases {
        serial0 = &uart0;
    };

    chosen {
        bootargs = "earlycon=apple_uart,0x235200000 console=tty0";
    };

    memory@800000000 {
        device_type = "memory";
        reg = <0x8 0x00000000 0x2 0x00000000>;
    };

    framebuffer@9e0df8000 {
        compatible = "simple-framebuffer";
        reg = <0x9 0xe0df8000 0x0 0x1500000>;
        format = "a8b8g8r8";
        height = <1080>;
        stride = <7680>;
        width = <1920>;
        status = "okay";
    };

    reserved-memory {
        #address-cells = <0x2>;
        #size-cells = <0x2>;
        ranges;

        fw_area@800000000 {
            reg = <0x8 0x00000000 0x0 0x01000000>;
            no-map;
        };

        fw_area@9e0000000 {
            reg = <0x9 0xd0000000 0x0 0x30000000>;
            no-map;
        };

        smpentry@803400000 {
            reg = <0x8 0x03400000 0x0 0x4000>;
            no-map;
        };
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
            device_type = "cpu";
            compatible = "apple,icestorm";
            reg = <0>;
            enable-method = "apple,startcpu";
        };

        cpu@1 {
            device_type = "cpu";
            compatible = "apple,icestorm";
            reg = <1>;
            enable-method = "apple,startcpu";
        };

        cpu@2 {
            device_type = "cpu";
            compatible = "apple,icestorm";
            reg = <2>;
            enable-method = "apple,startcpu";
        };

        cpu@3 {
            device_type = "cpu";
            compatible = "apple,icestorm";
            reg = <3>;
            enable-method = "apple,startcpu";
        };

        cpu@4 {
            device_type = "cpu";
            compatible = "apple,firestorm";
            reg = <0x10100>;
            enable-method = "apple,startcpu";
        };

        cpu@5 {
            device_type = "cpu";
            compatible = "apple,firestorm";
            reg = <0x10101>;
            enable-method = "apple,startcpu";
        };

        cpu@6 {
            device_type = "cpu";
            compatible = "apple,firestorm";
            reg = <0x10102>;
            enable-method = "apple,startcpu";
        };

        cpu@7 {
            device_type = "cpu";
            compatible = "apple,firestorm";
            reg = <0x10103>;
            enable-method = "apple,startcpu";
        };
    };

    refclk24mhz: refclk24mhz {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
        clock-output-names = "refclk24mhz";
    };

    refclk100mhz: refclk100mhz {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <100000000>;
        clock-output-names = "refclk100mhz";
    };

    timer {
        compatible = "arm,armv8-timer";
        interrupts = <1 1 0xf08   1 0 0xf08>;
        clock-frequency = <24000000>;
    };

    soc {
        compatible = "simple-bus";
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        applestart: applestart@23b754004 {
            compatible = "apple,startcpu";
            reg = <0x2 0x3b754004 0x0 0xc   0x2 0x10050000 0x0 0x8   0x2 0x10030fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x10150000 0x0 0x8   0x2 0x10130fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x10250000 0x0 0x8   0x2 0x10230fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x10350000 0x0 0x8   0x2 0x10330fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x11050000 0x0 0x8   0x2 0x11030fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x11150000 0x0 0x8   0x2 0x11130fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x11250000 0x0 0x8   0x2 0x11230fb0 0x0 0x4
                   0x2 0x3b754004 0x0 0xc   0x2 0x11350000 0x0 0x8   0x2 0x11330fb0 0x0 0x4>;
        };

        aic: interrupt-controller@23b100000 {
            compatible = "apple,aic";
            #interrupt-cells = <3>;
            interrupt-controller;
            reg = <0x2 0x3b100000 0x0 0x8000>;
            fast-ipi;
        };

        uart0: serial@235200000 {
            compatible = "apple,uart";
            reg = <0x2 0x35200000 0x0 0x4000>;
            interrupts = <0 605 4>;
            clocks = <&refclk24mhz>;
            clock-names = "refclk";
            index = <0>;
        };

        gpio_clk: gpio_clk@23b700130 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3b700130 0x0 0x8>;
            clocks = <&refclk24mhz>;
            clock-output-names = "gpio_clk";
        };

        gpio: pinctrl@20f100000 {
            compatible = "apple,gpio-v0";
            reg = <0x2 0x3c100000 0x0 0x100000>;
            pin-count = <212>;

            interrupts = <0 190 4   0 191 4   0 192 4   0 193 4   0 194 4   0 195 4   0 196 4>;

            clocks = <&gpio_clk>;

            gpio-controller;
            #gpio-cells = <2>;

            interrupt-controller;
            #interrupt-cells = <2>;

            i2c0_pins: i2c0_pins {
                pins = "gpio192", "gpio188";
                function = "periph";
            };
        };

        sio_busif_clk: sio_busif_clk@23b7001c0 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3b7001c0 0x0 0x8>;
            clocks = <&refclk24mhz>;
            clock-output-names = "sio_busif_clk";
        };

        sio_clk: sio_clk@23b7001c8 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3b7001c8 0x0 0x8>;
            clocks = <&sio_busif_clk>;
            clock-output-names = "sio_clk";
        };

        i2c0_clk: i2c0_clk@23b7001f0 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3b7001f0 0x0 0x8>;
            clocks = <&sio_clk>;
            clock-output-names = "i2c0_clk";
        };

        i2c0: i2c0@20a110000 {
            compatible = "apple,i2c-v0";
            reg = <0x2 0x35010000 0x0 0x4000>;
            interrupts = <0 627 4>;
            clocks = <&i2c0_clk>;
            pinctrl-0 = <&i2c0_pins>;
            pinctrl-names = "default";
            #address-cells = <0x1>;
            #size-cells = <0x0>;

            hpm0: hpm0@38 {
                compatible = "ti,tps6598x";
                reg = <0x38>;

                no-interrupt;
                no-long-writes;

                typec0: connector {
                    compatible = "usb-c-connector";
                    label = "USB-C A";
                    power-role = "source";
                    data-role = "host";
                };
            };

            hpm1: hpm1@3f {
                compatible = "ti,tps6598x";
                reg = <0x3f>;

                no-interrupt;
                no-long-writes;

                typec1: connector {
                    compatible = "usb-c-connector";
                    label = "USB-C B";
                    power-role = "source";
                    data-role = "host";
                };
            };
        };

        atc0_common: atc0_common@23b700420 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3b700420 0x0 0x8>;
            clocks = <&refclk24mhz>;
            clock-output-names = "atc0_common";
        };

        atc0_usb_aon: atc0_usb_aon@23d280088 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3d280088 0x0 0x8>;
            clocks = <&atc0_common>;
            clock-output-names = "atc0_usb_aon";
        };

        atc0_usb: atc0_usb@23d280098 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3d280098 0x0 0x8>;
            clocks = <&atc0_usb_aon>;
            clock-output-names = "atc0_usb";
        };

        usb_dart0: usb_dart0@382f00000 {
            compatible = "apple,dart";
            clocks = <&atc0_usb>;
            reg = <0x3 0x82f00000 0x0 0x80000   0x3 0x82f80000 0x0 0x4000>;
            interrupts = <0 781 4>;
            version = <1>;
            page-bits = <14>;
            sid-mask = <11>;
            sid-remap = <0 1>;
            #iommu-cells = <1>;
        };

        usb_drd0: usb_drd0@382280000 {
            compatible = "apple,dwc3-m1";
            clocks = <&atc0_usb>;
            clock-names = "usbclk";
            reg = <0x3 0x80000000 0x0 0x1000000   0x3 0x82000000 0x0 0x1000000>;
            reg-names = "atcphy", "usbcore";
            #address-cells = <2>;
            #size-cells = <2>;
            ranges;

            usbdrd_dwc3_0: dwc3@382280000 {
                compatible = "snps,dwc3";
                reg = <0x3 0x82280000 0x0 0x100000>;
                interrupts = <0 777 4>;
                iommus = <&usb_dart0 1>;
                dr_mode = "host";
                linux,dma_mask_bits = <64>;
            };
        };

        atc1_common: atc1_common@23b700448 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3b700448 0x0 0x8>;
            clocks = <&refclk24mhz>;
            clock-output-names = "atc1_common";
        };

        atc1_usb_aon: atc1_usb_aon@23d280090 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3d280090 0x0 0x8>;
            clocks = <&atc1_common>;
            clock-output-names = "atc1_usb_aon";
        };

        atc1_usb: atc1_usb@23d2800a0 {
            compatible = "apple,pmgr-clk-gate";
            #clock-cells = <0>;
            reg = <0x2 0x3d2800a0 0x0 0x8>;
            clocks = <&atc1_usb_aon>;
            clock-output-names = "atc1_usb";
        };

        usb_dart1: usb_dart1@502f00000 {
            compatible = "apple,dart";
            clocks = <&atc1_usb>;
            reg = <0x5 0x02f00000 0x0 0x80000   0x5 0x02f80000 0x0 0x4000>;
            interrupts = <0 861 4>;
            version = <1>;
            page-bits = <14>;
            sid-mask = <11>;
            sid-remap = <0 1>;
            #iommu-cells = <1>;
        };

        usb_drd1: usb_drd1@502280000 {
            compatible = "apple,dwc3-m1";
            clocks = <&atc1_usb>;
            clock-names = "usbclk";
            reg = <0x5 0x00000000 0x0 0x1000000   0x5 0x02000000 0x0 0x1000000>;
            reg-names = "atcphy", "usbcore";
            #address-cells = <2>;
            #size-cells = <2>;
            ranges;

            usbdrd_dwc3_1: dwc3@502280000 {
                compatible = "snps,dwc3";
                reg = <0x5 0x02280000 0x0 0x100000>;
                interrupts = <0 857 4>;
                iommus = <&usb_dart1 1>;
                dr_mode = "host";
                linux,dma_mask_bits = <64>;
            };
        };
    };
};
